/* Css */
.col-dk-1 {
    height: 500px;
    width: 8.33%;
    float: left;
    margin: 0;
    padding: 0;
}

.purple{
    background: #92a8d1;
}

.blue{
    background: #034f84;
}

.pink{
    background: #f7cac9;
}

.red {
    background: #f7786b;
}

.lightblue{
    background: #d5f4e6;
}

.turquoise {
    background: #80ced6;
}

.brown{
    background:  #c94c4c;
}

.clearfix {
    display: block;
    float: none;
    clear: both;
}


/* Media Query - Mobile */
@media screen and (min-width:180px) and (max-width:768px) {
    .col-sm-9 {
        width: 80%;
        float: left;
        margin: 0;
        padding: 0;
    }
    
    .col-sm-7 {
        width: 58.33%;
        float: left;
        margin: 0;
        padding: 0;
    }
    
    .col-sm-6 {
        width: 50%;
        float: left;
        margin: 0;
        padding: 0;
    }
    
    .col-sm-5 {
        width: 41.66%;
        float: left;
        margin: 0;
        padding: 0;
    }
    
    .col-sm-4 {
        width: 33.33%;
        float: left;
        margin: 0;
        padding: 0;
    }
    
    .col-sm-3 {
        width: 25%;
        float: left;
        margin: 0;
        padding: 0;
    }
    
    .col-sm-2 {
        width: 16.66%;
        float: left;
        margin: 0;
        padding: 0;
    }
    
    .purple{
    background: #92a8d1;
    }
    
    .blue {
        background: #034f84;
    }

    .pink {
        background: #f7cac9;
    }

    .red {
        background: #f7786b;
    }

    .lightblue {
        background: #d5f4e6;
    }
}


/* Media Query - Tablet */
@media screen and (min-width:769px) and (max-width:1024px) {
    .col-med-4 {
        width: 33.33%;
        float: left;
        margin: 0;
        padding: 0;
    }
    
    .col-med-3 {
        width: 25%;
        float: left;
        margin: 0;
        padding: 0;
    }
    
    .col-med-2 {
        width: 16.66%;
        float: left;
        margin: 0;
        padding: 0;
    }
}


/* Media Query - Laptop */
@media screen and (min-width:1025px) and (max-width:1440px) {
    .col-lptp-9 {
        width: 75%;
        float: left;
        margin: 0;
        padding: 0;
    }
    
    .col-lptp-7 {
        width: 58.33%;
        float: left;
        margin: 0;
        padding: 0;
    }
    
    .col-lptp-6 {
        width: 15%;
        float: left;
        margin: 0;
        padding: 0;
    }
    
    .col-lptp-5 {
        width: 41.66%;
        float: left;
        margin: 0;
        padding: 0;
    }
    
    .col-lptp-4 {
        width: 33.33333%;
        float: left;
        margin: 0;
        padding: 0;
    }
    
    .col-lptp-3 {
        width: 25%;
        float: left;
        margin: 0;
        padding: 0;
    }
    
    .col-lptp-2 {
        width: 16.66%;
        float: left;
        margin: 0;
        padding: 0;
    }
    
    .purple {
    background: #92a8d1;
    }
    
    .blue {
        background: #034f84;
    }

    .pink {
        background: #f7cac9;
    }

    .red {
        background: #f7786b;
    }

    .lightblue {
        background: #d5f4e6;
    }
    
    .purple{
    background: #92a8d1;
    }
    
    .blue {
        background: #034f84;
    }

    .pink {
        background: #f7cac9;
    }

    .turquoise {
        background: #f7786b;
    }

    .brown {
        background: #d5f4e6;
    }
}